<tagify name="search" class="col-12 col-sm-8 block"
        [(ngModel)]="tags"
        inputClass="form-control me-2"
        [settings]="settings"
        [whitelist]="whitelist$"
        [readonly]="readonly"
        [disabled]="disabled"
        (add)="onAdd($event)"
        (tInput)="onInputSuggestion($event)"
        (remove)="onRemove($event)"
></tagify>
<div class="col-12 col-sm-2">


  <select class="form-select" aria-label="Large select example" [(ngModel)]="test">
    <option value="1" selected>Official</option>
    <option value="2">Fan arts</option>
    <option value="3">All images</option>
  </select>
</div>
<div class="col-sm-2 col-12">
  <button (click)="onSearch()" class="btn btn-primary w-100">Search</button>
</div>

