<header class="navbar text-center p-3 navbar border-bottom border-body bg-body-tertiary">
  <div class="container-fluid navbar-expand-md">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="/" class="navbar-brand">Lil Gallery</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav justify-content-center col-12 col-md-auto me-auto">
        <li class="nav-item "><a routerLink="/home" routerLinkActive="active" class="nav-link px-2">Home</a></li>
        <li class="nav-item "><a routerLink="/images" routerLinkActive="active" class="nav-link px-2">Images</a></li>
      </ul>
      @if (!isAuthenticated) {
        <ul class="navbar-nav justify-content-center col-12 col-md-auto">
          <li class="nav-item me-md-2"><a routerLink="/login" class="btn btn-primary   btn-outline-light">Login</a></li>
          <li class="nav-item me-md-2"><a routerLink="/register" class="btn btn-primary   btn-outline-light">Register</a>

          </li>
        </ul>
      } @else {
        <menu class="navbar-nav justify-content-center col-12 col-md-auto">
          @if (this.authService.isAdmin()){
            <li class="nav-item me-md-2"><a routerLink="/admin" class="btn col-12  btn-outline-light">Admin</a></li>
          }
          <li class="nav-item me-md-2"><a routerLink="/profile" class="btn col-12  btn-outline-light">Profile</a></li>
          <li class="nav-item me-md-2"><a (click)="logout()" class="btn col-12  btn-outline-light">Log out</a></li>
        </menu>
      }


    </div>
  </div>
</header>
