<div ngxMasonryItem class="col-sm-6 col-md-4 col-lg-3">
  <div class="card">
    <a [routerLink]="['/', url, image().id]">
      <img
        class="card-img-top img-fluid"
        [src]="(environment.apiUrl + '/' + image().urlToImage + '/content?asJpeg=true' | authImage:image().width:image().height | async)"
        [alt]="image().uploadedBy"
        (load)="imageLoaded.emit()">
      <div class="card-img-overlay hover-text-card">
        <p [textContent]="image().tags"></p>
      </div>
    </a>
  </div>
</div>
