<div ngxMasonryItem class="col-sm-6 col-md-3">
  <div  class="card">
    <a routerLink="/images/{{image.id}}">
      <img masonryLazy ngSrc="{{config.apiUrl+'/'+image.urlToImage+'/content?asJpeg=true'}}"
           width="{{image.width}}"
           height="{{image.height}}"
           class="card-img img-fluid masonry-item"
           [alt]="image.uploadedBy">
      <div class="card-img-overlay hover-text-card">
        <p [textContent]="image.tags">Image tegs</p>
      </div>
    </a>
  </div>

</div>
