<div class="container-fluid mt-5">
  <h2>Image Gallery</h2>
  <router-outlet></router-outlet>
  <div class="row justify-content-center">
    <div class="col-xs-auto">
      @defer (when total > 2) {
        <pagination
          class="justify-content-center pagination-sm" [boundaryLinks]="true" [(ngModel)]="page" [maxSize]="5"
          [totalItems]="total" [itemsPerPage]="pageSize"
          (pageChanged)="changePage($event)" previousText="<" nextText=">" firstText="<<" lastText=">>"></pagination>
      }

    </div>

  </div>

    <app-search (search)="searchButton()" class="row" [tagsFromAbove]="tags" (keydown.shift.enter)="searchButton()"
                (tagsChange)="onTagsChange($event)"></app-search>

  <br>
  <ngx-masonry [options]="optionsMasonry" [ordered]="true" class="row">
    @for (image of images; track image.id) {
      <app-image-card (imageLoaded)="onImageLoad()"  [image]="image" ></app-image-card>

    }
  </ngx-masonry>
  <br>
<div class="row">
  @defer (when total > 2) {
    <pagination
      class="justify-content-center pagination-sm" [boundaryLinks]="true" [(ngModel)]="page" [maxSize]="5"
      [totalItems]="total" [itemsPerPage]="pageSize" previousText="<" nextText=">" firstText="<<" lastText=">>"></pagination>
  }
</div>
</div>
